body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
}

  img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin: 15px 0;
  border: 4px solid #0d0e0d;

  transition: 0.3s ease;
}

/* saat di-hover */
img:hover {
  transform: scale(1.08) rotate(2deg);
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

a {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 15px;
  background: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

a:hover {
  background: #0056b3;
}

ul {
  list-style-position: none;
  padding: 0;
  text-align: center;
}

li {
  margin: 5px 0;
}

img:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center; /* tengah horizontal */
  align-items: center;     /* tengah vertikal */
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.container {
  width: 350px;
  background: white;
  padding: 25px;
  margin: 80px auto;
  text-align: center;
  border-radius: 15px;

  transition: 0.3s ease;
}

.container:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.25);
}

/* Tampilan HP */
@media (max-width: 600px) {

  .container {
    width: 90%;
    padding: 20px;
  }

  h1 {
    font-size: 22px;
  }

  p {
    font-size: 14px;
  }

  img {
    width: 120px;
    height: 120px;
  }

}

h1 {
  transition: 0.3s;
}

h1:hover {
  color: #070707;
  letter-spacing: 2px;
}
.social {
  margin-top: 15px;
}

.social a {
  display: inline-block;
  margin: 8px;
  padding: 10px 18px;
  text-decoration: none;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.25s;
}

.btn {
    display: inline-block;
    margin: 10px;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s;
}

.btn i {
    margin-right: 8px;
}

.wa {
    background-color: #25D366;
}

.wa:hover {
    background-color: #1ebe5d;
}

/* tombol Instagram */
.ig {
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
}

.ig:hover {
    opacity: 0.8;
}
